

<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <input name = "user[title]" type="text"/>
  </div>
  <div class="ui-widget">
    <%= f.label :user_name, 'Author' %><br />
    <input id="tags" name = "user[first_name]" type="text"/>
<%=  f.text_field :title, :id => "tags" %>
    <!--<input type="text" data-provide="typeahead" data-items="4" data-source='<%= @users %>' > -->
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<script>
$(function() {
    var availableTags = <%= @users.to_json.html_safe %>
    $( "#tags" ).autocomplete({
      source: availableTags,
      minLength: 3,
      delay: 1
    });
  });
  </script>